<div class="butterfly">
  <img src="<%= @butterfly.image %>">

  <h2><%= @butterfly.name %></h2>

  Family: <em><%= @butterfly.family %></em>
  <p>Larval Plant: 
  	<em>
  		<a href="/plants/<%= @butterfly.plant.id %>">
			<%= @butterfly.plant.name %>
		</a>
  	</em>
  </p>

  <section>
    <a href="/butterflies/<%= @butterfly.id %>/edit">Edit</a>
    <a href="/butterflies/<%= @butterfly.id %>/delete">Delete</a>
  </section>
</div>