<!DOCTYPE html>
<html>
<head>
  <title>MomaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container_links">
<ul>
  <li><%= link_to('Artist', artists_path) %></li>
  <li><%= link_to('New Artist', new_artist_path) %></li>
  <li><%= link_to('Works', works_path) %></li>
  <li><%= link_to('New Work', new_work_path) %></li>
</ul>
</div>
<%= yield %>

</body>
</html>
