<p>The stock price is </p>

<h4><%= number_to_currency(@amount) %></h4>

<p>This large number is: </p>

<%= @large_number %>

<h4><%= number_to_human(@large_number) %></h4>

<p>phone is <%= @phone %> </p>

<h4>phone is <%= number_to_phone(@phone) %></h4>



